.container-home {
  /* background-color: rgb(0, 0, 0); */
  height: 40dvh;
  position: relative;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Titillium Web, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.249), rgba(0, 0, 0, 0.5)),
    url("/images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative;
}
.text-container {
  color: white;
  display: flex;

  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 15%;
  height: 35vh;
  width: 55%;
}
.line1 h1 {
  font-size: 2.25rem;
  font-weight: 550;
}
.main-content h1 {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 3.5vh;
}
.line1 {
  line-height: 5vh;
}
.main-content {
  font-weight: 100;
  font-size: 0.6rem;
  position: relative;
  top: 4%;
}
.about {
  width: 100%;
  height: max-content;

  align-content: center;
  text-align: center;
  margin-bottom: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.homepage {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about {
  text-align: center;
  margin-bottom: 50px;
}

.useService {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  text-align: left;
}

.use1,
.use2,
.use3,
.use4 {
  width: 40%;

  transition: transform 0.3s ease;
}

.use1:hover,
.use2:hover,
.use3:hover,
.use4:hover {
  transform: translateY(-10px);
}

h2 {
  /* font-size: 2em;
  margin-bottom: 20px; */
}

h3 {
  /* font-size: 1.5em;
  margin-bottom: 10px; */
}

p {
  /* font-size: 1em;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700; */
}
#btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: 2px solid white; /* White border */
  border-radius: var(--radii);
  color: var(--btn-bg-color); /* White text color */
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

#btn-donate:hover {
  background-position: right top;
}

#btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  #btn-donate {
    transition: linear;
  }
}

.use4 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use4::before,
.use4::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use4::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use4::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use4:hover::before,
.use4:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use4 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use4::before,
.use4::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use4::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use4::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use4:hover::before,
.use4:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use4:hover:after {
  content: "   Promote eco-friendly commuting by carpooling.";
}
.use3 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use3::before,
.use3::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use3:hover::before,
.use3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use3 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use3::before,
.use3::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use3:hover::before,
.use3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use3:hover:after {
  content: " Reduce travel costs by sharing the petrol expense with co-riders.";
}

.use2 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use2::before,
.use2::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use2::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use2::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use2:hover::before,
.use2:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use2:hover:after {
  content: "Enjoy a comfortable ride with fellow students.you";
}

.use1 {
  position: relative;
  width: 250px;
  height: 320px;

  color: #f9f9f9;
  background: #000000;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.use1::before,
.use1::after {
  position: absolute;
  content: "";
  width: 30%;
  text-align: center;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;

  color: #333333;
  background-color: white;
  text-align: center;
  font-size: large;
  transition: all 0.5s;
}

.use1::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.use1::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.use1:hover::before,
.use1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.use1:hover:after {
  content: "  Connect easily with other students for shared rides.";
}
